.DS_Store
*.swp
*.pdf
_build/

AUTHORS
COPYING
ChangeLog
INSTALL
NEWS
README
aclocal.m4
autom4te.cache
compile
config.guess
config.status
config.sub
config/
configure 
configure~
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing

config.h.in
config.h
config.h.in*
stamp-h1
