@page {
  @bottom-right {
    content: counter(page) " of " counter(pages);
    font-family: "Arial";
  }
}

.pagebreak {
  page-break-after: always;
}

h1 {
  page-break-before: always;
  font-family: "Arial";
}

h2 {
    font-family: "Arial";
}

h3 {
  font-family: "Arial";
}

h4 {
  font-family: "Arial";
}

body {
  font-family: "Arial";
}

