pbr==4.0.2 
six==1.11.0 
stevedore==1.28.0 
virtualenv==15.2.0 
virtualenvclone>=0.3.0 
virtualenvwrapper==4.8.2
CairoSVG==1.0.22 
Pyphen==0.9.4 
cairocffi==0.8.0 
cffi==1.11.5 
cssselect2==0.2.1 
html5lib==1.0.1 
markdown2==2.3.5 
markdown2pdf==0.1.4 
pdfrw==0.4 
pycparser==2.18 
tinycss2==0.6.1 
weasyprint==0.42.3 
webencodings==0.5.1
